body
{
  font-size: 0.9em;
  margin: 0;
  width: auto;
  font-family: sans-serif;
  background: #F6F6F6;
}

th
{
  width: 50%;
  text-align: justify;
}

h1
{
  font-family: "Linux Libertine",Georgia,Times,serif;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 0.25em;
  margin-top: 0;
}

.menuhaut
{
  display: inline-block;
  width: 90%;
  height: 75px;
  float: left;
  margin-left: 9.25em;
  background: url('img/grey.png');
}

.nav
{
  float: right;
  margin-right: 3em;
  font-size: 0.9em;
}

.nav li
{
  float: left;
  margin-right: 0;
  color: ##707070;
  padding-left: 8px;
  font-weight: bold;
  display: inline-block;
  list-style: none;
  font-weight: normal;
}

li a
{
  text-decoration: none;
  color: #0645ad;
  font-weight: normal;
}

.menuleft
{
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15em;
  height: 100%;
  padding-left: 0;
  font-size: 0.8em;
  background-image: url(img/grey.png);
  background-size: 75px;
  background-repeat: repeat-x;
}

.menuleft p
{
  color: #4d4d4d;
  padding-left: 10px;
  margin: 2px;
}

.menuleft ul
{
  padding-top: 15px;
  left: 15px;
  right: 15px;
  text-decoration: none;
  list-style: none;
  padding-left: 30px;
  line-height: 1.8em;
  text-align: justify;
  margin: 0;
}

.navright
{
  clear: both;
}

.navright li
{
  position: relative;
  top: 14px;
  padding: 0 10px;
  float: left;
  display: inline-block;
  background-image:linear-gradient(#F6F5F4, #e8f2f8);
  border-left: 1px solid #A7D7F9;
  line-height: 30px;
  margin: 0;
}
.actif
{
  background: #fff;
}
.navleft li
{
  display: inline-block;
  padding: 0 10px;
  background-image:linear-gradient(#F6F5F4, #e8f2f8);
  border-left: 1px solid #A7D7F9;
  line-height: 30px;
  margin: 0;
  position: relative;
  left: 0px;
  top: 31px;
  float: left;
  margin-left: 0;
}
.search
{
  width: 320px;
  height: 25px;
  background-image: url(img/search.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 12px;

}

.wiki
{
  margin-left: 15px;
  width: 135px;
}

.page
{
  background: #fff;
  float: left;
  margin-left: 12em;
  padding: 20px;
  border: 1px solid #A7D7F9;
  border-right: 1px solid white;
}

.box-sommaire
{
  font-size: 12px;
  width: 320px;
  border: 1px solid #aaa;
}

.sommaire
{
  padding-left: 5px;
  list-style: none;
  line-height: 25px;
}

}
.bodycontent
{
  margin-left: 10em;
}
.homonyme
{
  font-style: italic;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-bottom: 6px;
  padding-left: 25px;
}

.img-homonyme
{

  width: 20px;
  height: 15px;
}

.infos
{
  width: 25em;
  padding: 5px;
  margin: 10px;
  max-width: 320px;
  background: #F9F9F9;
  border: 1px solid #AAA;
  float: right;
  font-size: 0.8em;
  line-height: 1.4em;
}

.entete
{
  height: 45px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  line-height:45px;
  font-size: 18px;
  margin-bottom: 10px;
  background-color: #B6CCDE;
  vertical-align: middle;
  background-image: url('img/infomusic.png');
  background-position: right center;
  background-repeat: no-repeat;
}

.image
{
  text-align: center;
}

.caption
{
  background:#B6CCDE;
  font-weight: bold;
  text-align: center;
  padding: 4px;
}

.belg
{
  width: 20px;
  height: 13px;
}

.texte
{
  width: auto;
  padding: 10px;
}

.texte-bold
{
  font-size: 18px;
  font-weight: bold;
  height: 100%;
  border-bottom: 1px dotted #aaa;
}
